
/* BASE ELEMENT STYLES ============== */

* {
    box-sizing: border-box;
}

main {
    padding-bottom: 20px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h2,
legend {
    font-size: 1.25em;
    font-weight: 600;
    color: #515a5f;
    margin: 0;
}

p {
    padding: 0px 10px;
    margin: 12px 0;
}

footer {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    padding: 20px 0;
    height: 150px;
}

p,
footer {
    color: #c0c7d1;
}

/* BASE LAYOUT STYLES ============== */

.main-header {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.banner {
    background-color:#e9e9e9;
    border-bottom: 4px solid black;
    margin-bottom: 2px;
}

.main-header,
.banner {
    text-align: center;
}

.section-wrap {
    border-top: 2px solid black;
    margin-bottom: 10px;
}

/* FORM FIELDS ============== */

fieldset {
    padding: 0;
    margin: 0;
    border-style: none;
}

.banner,
legend {
    padding: 24px 0;
}

.flex-1 input,
select,
textarea {
    background-color: #f1f1f1;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    padding-left: 15px;
}

textarea {
    width: 100%;
    height: 15vh;
    font-size:.85em;
}

input[type="zip"] {
    width: 50%;
}

textarea {
    padding: 10px;
    resize: none;
}

textarea,
select,
input {
    margin: 10px 0 15px;
}

.flex input {
    text-align: left;
}

input[type="checkbox"]:checked + label {
    font-weight: 600;
}

select,
input[placeholder] {
    color: #666;
    font-size: .85em;
    padding-left: 10px;
}

label {
    font-size: .90em;
    font-weight: 400;
    color: #000;
}

.newsletter label {
    margin: 12px 8px;
}

.submit {
    display: block;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #000
}


/* FLEXBOX -------------- */

.sections,
.contact-info,
.newsletter,
.flex-1,
.flex-2 {
    display: flex;
    flex-direction: column;
}

.contact-info,
.flex-1 {
    flex-wrap: wrap;
    flex-basis: 100%;
}

.flex-2 {
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

/* Pseudo Elements -------------- */

a:hover { 
    cursor: pointer;;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}

input:focus,
label:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: #3b5998;
    outline-width: 5px;
    transition: all .25s ease-in;
    background-color: #aec4f3;
}

/* MEDIA QUERY ============== */

@media (min-width: 760px) {
    
    main {
        width: 60%;
        margin: 0 auto;
    }

    p {
        padding: 0px;
    }

    footer {
        margin-top: 40px;
        height: 200px;
    }

    .banner {
        padding: 60px 0 40px;
    }

    .flex-1 {
        flex-direction: row;
        align-content: flex-start;
        align-items: baseline;
    }

    .contact-info label {
        width: 30%;
    }

    .contact-info input,
    .contact-info select {
        width: 70%;
    }

    .zip {
        max-width: 50%;
    }


}