
/* BASE ELEMENT STYLES ============== */

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h2,
legend {
    font-size: 1.25em;
    font-weight: 600;
    color: #515a5f;
    margin: 0;
}
/* legend = heading */

legend {
    padding-bottom: 24px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
}

p {
    padding: 0px 10px;
    margin: 12px 0;
}

footer {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin-bottom: 150px;
}

p,
footer {
    color: #c0c7d1;
}

/* BASE LAYOUT STYLES ============== */

.main-header {
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.intro {
    text-align: center;
    border-bottom: 4px solid black;
    margin-bottom: 3px;
}

.form {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* FORM FIELDS ============== */

fieldset {
    padding: 0;
    margin: 0;
    border-style: none;
}
/* fieldset = form field */

form[input] {
    text-align: left;
    max-width: 200px;
    margin: auto;
}

.intro,
.form,
.newsletter {
    padding: 24px 0;
}

input,
select,
textarea {
    background-color: #f1f1f1;
    border-style: none;
    padding: 15px;
}

input,
textarea,
select[id="state"] {
    width: 100%;
    font-size:.85em;
}

input[type="zip"] {
    width: 50%;
}

textarea {
    padding: 10px 10px;
    resize: none;
    /* scrolling feature */
}

textarea,
select,
input[type] {
    margin: 10px 0 15px;
    border-radius: 4px;
}

input[placeholder] {
    text-align: right;
    font-style: italic;
    font-size: .75em;
    padding-right: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 5px;
}

select,
input[placeholder] {
    color: #666;
    font-size: .85em;
    padding-left: 10px;
}

label {
    font-size: .90em;
    font-weight: 400;
    color: #000;
}

label[for] {
    margin: 20px 0;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    padding: 16px 30px;
    margin: 40px 0;
    border-radius: 30px;
    border: 1px solid #000
}

/* Pseudo Elements -------------- */

a:hover { 
    cursor: pointer;
}

/* MEDIA QUERY ============== */

@media (min-width: 760px) {
    main {
        width: 60%;
        margin: 0 auto;
    }

    legend {
        margin-bottom: 40px;
    }

    p {
        padding: 0px;
    }

    footer {
        margin-bottom: 200px;
    }

    .intro {
        padding: 60px 0 40px;
    }

    .form,
    .newsletter {
        padding: 40px 0;
    }

}